<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
    <div class="navbar navbar-default" th:fragment="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">RepGE</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Pablo Verdú Romero</a></li>
                <li><a href="http://www.ua.es">Universidad de Alicante</a></li>
            </ul>
        </div>
    </div>
</body>
</html>