<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<!-- Earthquake legend -->
<ul class="list-group" th:fragment="earthquake">
    <li class="list-group-item">Visualizando el contenido de su fichero "earthquake.txt"</li>
    <li class="list-group-item">Cada punto representa un terremoto recogido de su fichero.</li>
    <li class="list-group-item">El tamaño del punto indica su "peso logico".</li>
</ul>

<!-- Soilcenter legends -->
<ul class="list-group" th:fragment="soilcenter-nehrp">
    <li class="list-group-item">Visualizando el contenido de su fichero "soilcenter.txt"</li>
    <li class="list-group-item">Cada color representa un tipo de suelo segun la clasificacion (NEHRP):</li>
    <li class="list-group-item">
        <img src="../../static/img/nehrp-legend.jpg" th:src="@{img/nehrp-legend.jpg}" width="230px"/>
    </li>
</ul>

<ul class="list-group" th:fragment="soilcenter-eurocode8">
    <li class="list-group-item">Visualizando el contenido de su fichero "soilcenter.txt"</li>
    <li class="list-group-item">Cada color representa un tipo de suelo segun la clasificacion (Eurocode 8):</li>
    <li class="list-group-item">
        <img src="../../static/img/eurocode8-legend.jpg" th:src="@{img/eurocode8-legend.jpg}" width="230px"/>
    </li>
</ul>

<ul class="list-group" th:fragment="soilcenter-indian">
    <li class="list-group-item">Visualizando el contenido de su fichero "soilcenter.txt"</li>
    <li class="list-group-item">Cada color representa un tipo de suelo segun la clasificacion (Indian Standar IS 1983):</li>
    <li class="list-group-item">
        <img src="../../static/img/indian-legend.jpg" th:src="@{img/indian-legend.jpg}" width="230px"/>
    </li>
</ul>

<!-- Shakecenter legends -->
<ul class="list-group" th:fragment="shakecenter-1">
    <li class="list-group-item">Visualizando el contenido de su fichero "shakecenter.txt"</li>
    <li class="list-group-item">Cada color representa el valor del espectro del movimiento de tierra:</li>
    <li class="list-group-item">
        <img src="../../static/img/shakecenter-1.JPG" th:src="@{img/shakecenter-1.JPG}" width="230px"/>
    </li>
</ul>

<ul class="list-group" th:fragment="shakecenter-2">
    <li class="list-group-item">Visualizando el contenido de su fichero "shakecenter.txt"</li>
    <li class="list-group-item">Cada color representa el valor del espectro del movimiento de tierra:</li>
    <li class="list-group-item">
        <img src="../../static/img/shakecenter-2.jpg" th:src="@{img/shakecenter-2.jpg}" width="230px"/>
    </li>
</ul>

<ul class="list-group" th:fragment="shakecenter-3">
    <li class="list-group-item">Visualizando el contenido de su fichero "shakecenter.txt"</li>
    <li class="list-group-item">Cada color representa el valor del espectro del movimiento de tierra:</li>
    <li class="list-group-item">
        <img src="../../static/img/shakecenter-3.jpg" th:src="@{img/shakecenter-3.jpg}" width="230px"/>
    </li>
</ul>

<!-- Numbuild legend -->
<ul class="list-group" th:fragment="numbuild">
    <li class="list-group-item">Visualizando el contenido de su fichero "numbuild.txt"</li>
    <li class="list-group-item">Cada color representa el porcentaje de edificios de la categoria de edificiación
        seleccionada sobre el total de edificios de cada unidad geografica:</li>
    <li class="list-group-item">
        <img src="../../static/img/percent.jpg" th:src="@{img/percent.jpg}" width="230px"/>
    </li>
</ul>

<!-- Builtarea legend -->
<ul class="list-group" th:fragment="builtarea">
    <li class="list-group-item">Visualizando el contenido de su fichero "builtarea.txt"</li>
    <li class="list-group-item">Cada color representa el porcentaje de area construida de la categoria de edificación
        seleccionada sobre el total del araea construida de cada unidad geografica:</li>
    <li class="list-group-item">
        <img src="../../static/img/percent.jpg" th:src="@{img/percent.jpg}" width="230px"/>
    </li>
</ul>


</body>
</html>