<html>
<head>
  <title>Integracion Datos Riesgo Sismico con Google Earth</title>


</head>
<body>
    <h2>Hola mundo!</h2>
    <div id="map3d" style="height:600px; width: 800px;"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var ge;
        google.load("earth", "1", {"other_params":"sensor=false"});

        function init(){
            google.earth.createInstance('map3d', initCB, failureCB);
        }

        function initCB(instance) {
            ge = instance;

            var kmlString = ''
                    + '<kml xmlns="http://www.opengis.net/kml/2.2">'

                    + '<Document>'
                    + '  <Camera>'
                    + '    <longitude>44.8189</longitude>'
                    + '    <latitude>25.2809</latitude>'
                    + '    <altitude>2000000</altitude>'
                    + '    <heading>0</heading>'
                    + '    <tilt>0</tilt>'
                    + '  </Camera>'
                    + '  <Placemark>'
                    + '    <Style>'
                    + '     <IconStyle>'
                    + '       <color>FF1400FF</color>'
                    + '       <scale>2</scale>'
                    + '       <Icon>'
                    + '         <href>http://maps.google.com/mapfiles/kml/shapes/shaded_dot.png</href>'
                    + '       </Icon>'
                    + '     </IconStyle>'
                    + '   </Style>'
                    + '   <Point>'
                    + '     <coordinates>44.819,25.281</coordinates>'
                    + '  </Point>'
                    + ' </Placemark>'

                    + '  <Placemark>'
                    + '    <Style>'
                    + '     <IconStyle>'
                    + '       <color>FF1400FF</color>'
                    + '       <scale>1.2</scale>'
                    + '       <Icon>'
                    + '         <href>http://maps.google.com/mapfiles/kml/shapes/shaded_dot.png</href>'
                    + '       </Icon>'
                    + '     </IconStyle>'
                    + '   </Style>'
                    + '   <Point>'
                    + '     <coordinates>44.299,25.311</coordinates>'
                    + '  </Point>'
                    + ' </Placemark>'

                    + '</Document>'
                    + '</kml>';

            var kmlObject = ge.parseKml(kmlString);
            ge.getFeatures().appendChild(kmlObject);

            ge.getWindow().setVisibility(true);
            ge.getView().setAbstractView(kmlObject.getAbstractView());
        }

        function failureCB(errCode){
            console.log("Error al cargar el plugin de Google Earth:" + errCode);
        }

        google.setOnLoadCallback(init);

    </script>
</body>
</html>