<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>

    <title th:text="${tittle}">Tittle</title>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
       <div class="row">
           <h1 th:text="${tittle}">Header</h1>
       </div>
       <div class="row">
           <div class="col-lg-9" id="map3d" style="height: 450px; width: 800px;"></div>
           <div class="col-lg-3">
               <div class="panel panel-info">
                   <div class="panel-heading" th:text="${tittle}">Titulo_leyenda</div>
                   <!--Las leyendas se cargan dinamicamente del archivo fragments/legends.html-->
                   <ul th:replace="fragments/legends :: (${legend})"></ul>
                   <div class="panel-footer">
                       <a th:href="${urlFile}" class="btn btn-primary center-block" download="download">Descargar Kml</a>
                   </div>
               </div>
           </div>
       </div>
    </div>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" th:inline="javascript">
        var ge;
        google.load("earth", "1", {"other_params":"sensor=false"});

        function init(){
            google.earth.createInstance('map3d', initCB, failureCB);
        }

        function initCB(instance) {
            /*<![CDATA[*/
            ge = instance;

            var link = ge.createLink('');
            var href = /*[[${urlFile}]]*/ "";

            link.setHref(href);

            var networkLink = ge.createNetworkLink('');
            networkLink.set(link, true, true);

            ge.getFeatures().appendChild(networkLink);

            ge.getWindow().setVisibility(true);
            /*]]>*/
        }

        function failureCB(errCode){
            console.log("Error al cargar el plugin de Google Earth:" + errCode);
        }

        google.setOnLoadCallback(init);
    </script>
</body>
</html>